<!DOCTYPE html>
<html>
<head>
  <title>stocksy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Imprima:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Prosto+One:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sail:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Capriola:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Milonga:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Macondo+Swash+Caps:400' rel='stylesheet' type='text/css'>
</head>

<body>

	
	

	
	<div>
		<%= yield %>
	</div>




</body>
</html>
